body {
    font-family: Arial, sans-serif;
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

#factura {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
